<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-label *ngIf="detalleP.producto"> {{ detalleP.producto.title }} </ion-label>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/inicio']" fill="outline" color="primary">Volver</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="outline" color="danger">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="detalleP.cargando && detalleP.producto" type="indeterminate"></ion-progress-bar>
  <ion-card *ngIf="!detalleP.cargando && detalleP.producto">
    <ion-slides>
      <ion-slide *ngFor="let imagen of detalleP.producto?.images">
        <img [src]="imagen" >
      </ion-slide>
    </ion-slides>
    <ion-card-header>
      <ion-card-title>{{ detalleP.producto.title }}</ion-card-title>
      <ion-card-subtitle>$ {{detalleP.producto.price}}</ion-card-subtitle>
      <ion-note>Descuento ${{detalleP.producto.discountPercentage}}</ion-note>
    </ion-card-header>
    <ion-card-content>
      {{ detalleP.producto.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
